.white-header{
  background: #FFF;
  box-shadow: 0 2px 10px #cac7c7;
}

.activity-container{
  padding: 180px 80px 20px 80px;
  position: relative;
}


.activity-header-navigation {
	display: flex;
}

.activity-header-navigation .year-selector {
	padding: 0 20px;
}